@model U4_W6_D1_5.Models.Cliente

@{
    ViewBag.Title = "Registrati";
}


@section Styles {
    <style>
        body {
            background: url(https://nepomuk.it/wp-content/uploads/2022/02/pizzeria-sterzing.jpg) no-repeat fixed;
            background-size: cover;
        }
    </style>
}

<div class="min-vh-100 position-relative">
    <div class="min-vh-100 w-100 position-relative top-0" style="background-color: rgba(200, 200, 200, 0.5)">
        <div class="min-vh-100 d-flex flex-column justify-content-center align-items-center">
            @if (ViewBag.Errore != null)
            {
                <div class="alert alert-danger w-25 mx-auto text-center m-4">@ViewBag.Errore</div>
            }

            @if (ViewBag.Username != null)
            {
                <div class="alert alert-danger w-25 mx-auto text-center m-4">@ViewBag.Username</div>
            }
            @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @class = "w-50 min-vh-100 py-5" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="p-4 mx-auto rounded-4" style="background: orange; border:5px solid #bd6132">
                    <h2 class="text-center pb-3 fs-1" style="color: #bd6132">Registrati in un minuto</h2>
                    <div class="form-group text-center mb-3">
                        @Html.LabelFor(model => model.NomeCliente, htmlAttributes: new { @class = "control-label d-block pb-2 text-white fw-bold fs-4" })
                        <div class="d-flex justify-content-center">
                            @Html.EditorFor(model => model.NomeCliente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group text-center mb-3">
                        @Html.LabelFor(model => model.CognomeCliente, htmlAttributes: new { @class = "control-label d-block pb-2 text-white fw-bold fs-4" })
                        <div class="d-flex justify-content-center">
                            @Html.EditorFor(model => model.CognomeCliente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CognomeCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group text-center mb-3">
                        @Html.LabelFor(model => model.IndirizzoCliente, htmlAttributes: new { @class = "control-label d-block pb-2 text-white fw-bold fs-4" })
                        <div class="d-flex justify-content-center">
                            @Html.EditorFor(model => model.IndirizzoCliente, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IndirizzoCliente, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group text-center mb-3">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label d-block pb-2 text-white fw-bold fs-4" })
                        <div class="d-flex justify-content-center">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group text-center mb-4">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label d-block pb-2 text-white fw-bold fs-4" })
                        <div class="d-flex justify-content-center">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" value="Registrati" class="btn w-50 text-white fw-bold fs-4" style="background-color: #bd6132" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
